@media screen and (min-width: $container-mobile) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__logo-title {
    display: inline-flex;
    margin-bottom: 18px;

    color: $color-black-extra;

    transition: color 0.3s;

    &:hover,
    &:focus {
      color: $color-black-bold;
    }

    &:active {
      color: $color-black-normal;
    }
  }

  .footer__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 18px;
    padding-top: 16px;
    padding-bottom: 16px;

    list-style-type: none;

    border-top: 1px solid $color-white-semi;
    border-bottom: 1px solid $color-white-semi;

    gap: 23px;
  }

  .footer__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    transition: opacity 0.3s;

    &:active {
      opacity: 0.3;
    }

    &:focus .footer__logo-academy {
      color: $color-green;
    }
  }

  .footer__logo-text {
    font-size: 16px;
    line-height: 20px;
    color: $color-black-semi;
  }

  .footer__logo-academy {
    color: $color-black-medium;

    transition: color 0.3s;

    &:hover {
      color: $color-green;
    }
  }
}

@media screen and (min-width: $container-tablet) {
  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .footer__logo-title {
    margin: 0;
  }

  .footer__social {
    width: 136px;
    margin: 0;
    margin-left: 42px;
    padding: 0;

    border: 0;
  }

  .footer__logo {
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    width: 168px;

    gap: 22px;
  }
}

@media screen and (min-width: $container-desktop) {
  .footer__inner {
    padding-top: 64px;
    padding-bottom: 63px;
  }
}
