$font-lato: "Lato", "Arial", sans-serif;
$font-oswald: "Oswald", "Arial", sans-serif;
$container-mobile: 0;
$container-tablet: 768px;
$container-desktop: 1440px;
$color-white-extra: #e6e6e6;
$color-white: #ffffff;
$color-white-03: rgba(255, 255, 255, 0.3);
$color-black-normal: #6b6b6b;
$color-black-medium: #666666;
$color-black-semi: #444444;
$color-black-bold: #3e3e3e;
$color-black-extra: #111111;
$color-black: #000000;
$color-black-03: rgba(0, 0, 0, 0.3);
$color-green: #5eaa2f;
$color-green-extra: #68b738;
$color-green-extra-085: rgba(104, 183, 56, 0.85);


// 100 – Thin
// 200 – Extra Light (Ultra Light)
// 300 – Light
// 400 – Normal
// 500 – Medium
// 600 – Semi Bold (Demi Bold)
// 700 – Bold
// 800 – Extra Bold (Ultra Bold)
// 900 – Black (Heavy)
