@media screen and (min-width: $container-mobile) {
  .instruction__inner {
    padding-top: 20px;
    padding-bottom: 45px;
  }

  .instruction__title {
    margin-bottom: 32px;
  }

  .instruction__list {
    display: flex;
    flex-direction: column;

    list-style-type: none;

    gap: 10px;
  }

  .instruction__item {
    position: relative;

    display: flex;
    min-height: 70px;
    padding: 8px 8px 8px 80px;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;

      width: 60px;
      height: 60px;

      background-color: $color-green;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 28px;
    }

    &--nutrition::before {
      background-image: url("../../images/icons/stack.svg#instruction-nutrition");
    }

    &--powder::before {
      background-image: url("../../images/icons/stack.svg#instruction-powder");
    }

    &--eat::before {
      background-image: url("../../images/icons/stack.svg#instruction-eat");
    }

    &--time::before {
      background-image: url("../../images/icons/stack.svg#instruction-time");
    }
  }
}

@media screen and (min-width: $container-tablet) {
  .instruction__inner {
    padding-top: 46px;
    padding-bottom: 5px;

    border-bottom: 1px solid $color-white-semi;
  }

  .instruction__title {
    margin-bottom: 70px;
  }

  .instruction__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    counter-reset: number;

    row-gap: 38px;
  }

  .instruction__item {
    width: 46%;
    min-height: 280px;
    padding: 0;
    padding-top: 110px;

    &::before {
      top: 0;

      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(number);
      position: absolute;
      top: -28px;
      left: 108px;
      z-index: -1;

      font-size: 280px;
      line-height: 280px;
      font-family: $font-oswald;
      color: $color-white-bold;

      counter-increment: number;
    }
  }

  .instruction__text {
    width: 82%;
  }
}

@media screen and (min-width: $container-desktop) {
  .instruction__inner {
    padding-top: 72px;
    padding-bottom: 85px;

    border: 0;
  }

  .instruction__item {
    width: 20%;
    min-height: 182px;
  }

  .instruction__text {
    width: 100%;
  }
}
