@media screen and (min-width: $container-mobile) {
  .intro {
    background-image: linear-gradient($color-green-085 60%, $color-white 0), url("../../images/intro-background-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto auto, 320px 302px;
  }

  @media (min-resolution: 2dppx) {
    .intro {
      background-image: linear-gradient($color-green-085 60%, $color-white 0), url("../../images/intro-background-mobile@2x.png");
    }
  }

  .intro__inner {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 20px;

    font-family: $font-oswald;
    text-align: center;
    color: $color-white;
  }

  .intro__title {
    margin-bottom: 25px;

    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }

  .intro__text {
    margin-bottom: 29px;

    line-height: 14px;
    text-transform: uppercase;
  }
}

@media screen and (min-width: $container-tablet) {
  .intro {
    background-image: none;
  }

  .intro__inner {
    margin-bottom: -82px;
    padding-top: 44px;
    padding-bottom: 0;
    padding-left: 120px;

    text-align: left;
    color: $color-black;
  }

  .intro__title {
    width: calc(100% - 178px);
    margin-bottom: 39px;

    font-size: 60px;
    line-height: 60px;
  }

  .intro__text {
    width: calc(100% - 178px);
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
  }

  .intro__picture {
    position: relative;
    top: -83px;
    left: -90px;

    order: 1;
    margin: 0;
  }

  .intro__image {
    min-width: max-content;
  }

  .intro__link {
    z-index: 1;

    width: 244px;
  }
}

@media screen and (min-width: $container-desktop) {
  .intro {
    position: relative;

    padding-top: 170px;

    background-image: url("../../images/intro-background-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 100% top;
    background-size: 720px 694px;

    @media (min-resolution: 2dppx) {
      .intro {
        background-image: url("../../images/intro-background-desktop@2x.png");
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -50%;

      width: 100%;
      height: 694px;

      background-color: $color-green-085;
    }
  }

  @media (min-resolution: 2dppx) {
    .intro {
      background-image: url("../../images/intro-background-desktop@2x.png");
    }
  }

  .intro__inner {
    padding-top: 57px;
    padding-bottom: 346px;
    padding-left: 190px;
  }

  .intro__title {
    width: 460px;
  }

  .intro__text {
    width: 460px;
    margin-bottom: 50px;
  }

  .intro__picture {
    position: absolute;
    top: 143px;
    left: 558px;
  }
}
