@media screen and (min-width: $container-mobile) {
  .circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    color: $color-black-medium;

    background-color: transparent;
    border-radius: 50%;

    transition: color 0.3s, opacity 0.3s;

    &:hover,
    &:focus {
      color: $color-green;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
